@keyframes background-blur-1 {
  from { background-position: 49.5%, 50.5%; }
  to { background-position: 50.5%, 49.5% }
}
@keyframes background-blur-2 {
  from { background-position: 48%, 52%; }
  to { background-position: 52%, 48% }
}

#app {
  background-position: 50%, 50%;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  transition: background-position 3s;
  &.drunk-level-1 {
    background-position: 49.5%, 50.5%;
    animation-name: background-blur-1;
  }
  &.drunk-level-2 {
    background-position: 48%, 52%;
    animation-name: background-blur-2;
  }
}


@keyframes rotation-1 {
  from { transform: rotate(.5deg) }
  to { transform: rotate(-.5deg) }
}
@keyframes rotation-2 {
  from { transform: rotate(2deg) }
  to { transform: rotate(-2deg) }
}
#app {
  #game {
    transition: transform 2s;
  }
  &.drunk-level-1 {
    #game {
      transform: rotate(.5deg);
      animation: rotation-1 4s 2s infinite alternate ease-in-out;
    }
  }
  &.drunk-level-2,
  &.drunk-level-3,
  &.drunk-level-4 {
    #game {
      transform: rotate(2deg);
      animation: rotation-2 4s 2s infinite alternate ease-in-out;
    }
  }
}